@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
<div id="toNewWindow">
    <qrcode alt="QR Code" content="https://rajeeshmenoth.wordpress.com/" />
 </div>

    <a href="javascript:;" id="print">Print</a>

   
